<?php

## ==== PUPPET CONTROLLED, DO NOT MANUALLY EDIT ==== ##

## Check http://www.observium.org/wiki/Configuration_Options for documentation of these settings

// Database config ---  This MUST be configured
$config['db_host'] = '<%= scope.lookupvar('observium::db_host') -%>';
$config['db_user'] = '<%= scope.lookupvar('observium::db_user') -%>';
$config['db_pass'] = '<%= scope.lookupvar('observium::db_user_pass') -%>';
$config['db_name'] = '<%= scope.lookupvar('observium::db_name') -%>';
$config['db_extension']  = 'mysqli';

// Base directory
$config['install_dir'] = "<%= scope.lookupvar('observium::install_dir') -%>";

// Default community list to use when adding/discovering
$config['snmp']['community'] = array("public");

// Authentication Model
$config['auth_mechanism'] = "mysql";    // default, other options: ldap, http-auth, please see documentation for config help

// Enable alerter (not available in CE)
#$config['poller-wrapper']['alerter'] = TRUE;

// Set up a default alerter (email to a single address)
$config['alerts']['alerter']['default']['descr']   = "Default Email Alert";
$config['alerts']['alerter']['default']['type']    = "email";
$config['alerts']['alerter']['default']['contact'] = "<%= scope.lookupvar('observium::alert_email') -%>";
$config['alerts']['alerter']['default']['enable']  = TRUE;

// End config.php
